---
http_interactions:
- request:
    method: get
    uri: http://api.tfl.gov.uk/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?accessibilityPreference=&adjustment=&alternativeCycle=False&alternativeWalking=True&app_id=&app_key=&applyHtmlMarkup=False&bikeProficiency=&cyclePreference=&date=&from=tw14%209nt&fromName=&journeyPreference=&maxTransferMinutes=&maxWalkingMinutes=&mode=&nationalSearch=False&time=&timeIs=Departing&to=tw3%203tu&toName=&via=&viaName=&walkingSpeed=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - itineraryresult, disambiguationresult, mode, stoppoint, place, disruption,
        plannedworks, line, linestatus
      X-Ttl-Rule:
      - '0'
      X-Ttl:
      - '300.000'
      X-Backend:
      - api
      X-Backend-Url:
      - "/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?from=tw14+9nt&to=tw3+3tu&via=&nationalSearch=False&date=&time=&timeIs=Departing&journeyPreference=&mode=&accessibilityPreference=&fromName=&toName=&viaName=&maxTransferMinutes=&maxWalkingMinutes=&walkingSpeed=&cyclePreference=&adjustment=&bikeProficiency=&alternativeCycle=False&alternativeWalking=True&applyHtmlMarkup=False&app_id=&app_key="
      X-Hash-Url:
      - "/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?from=tw14+9nt&to=tw3+3tu&via=&nationalSearch=False&date=&time=&timeIs=Departing&journeyPreference=&mode=&accessibilityPreference=&fromName=&toName=&viaName=&maxTransferMinutes=&maxWalkingMinutes=&walkingSpeed=&cyclePreference=&adjustment=&bikeProficiency=&alternativeCycle=False&alternativeWalking=True&applyHtmlMarkup=False&app_id=&app_key="
      X-Banning:
      - ''
    body:
      encoding: UTF-8
      string: '{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult,
        Tfl.Api.Presentation.Entities","journeys":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Journey,
        Tfl.Api.Presentation.Entities","startDateTime":"2014-09-03T14:39:00","duration":30,"arrivalDateTime":"2014-09-03T15:09:00","legs":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Leg,
        Tfl.Api.Presentation.Entities","duration":11,"instruction":{"$type":"Tfl.Api.Presentation.Entities.Instruction,
        Tfl.Api.Presentation.Entities","summary":"Walk to Engleheart Drive (TW14)","detailed":"Walk
        to Engleheart Drive (TW14)","steps":[{"$type":"Tfl.Api.Presentation.Entities.InstructionStep,
        Tfl.Api.Presentation.Entities","description":"Continue along Fruen Road for
        104 metres (1 minute, 32 seconds).","turnDirection":"STRAIGHT","streetName":"Fruen
        Road","distance":104,"cumulativeDistance":104,"skyDirection":207,"cumulativeTravelTime":92,"latitude":-0.41951598516,"longitude":51.451444620640004,"pathAttribute":{"$type":"Tfl.Api.Presentation.Entities.PathAttribute,
        Tfl.Api.Presentation.Entities"}},{"$type":"Tfl.Api.Presentation.Entities.InstructionStep,
        Tfl.Api.Presentation.Entities","description":"Turn left on to Link Road, continue
        for 77 metres (1 minute, 9 seconds).","turnDirection":"LEFT","streetName":"Link
        Road","distance":77,"cumulativeDistance":181,"skyDirection":118,"cumulativeTravelTime":161,"latitude":-0.41881099495999996,"longitude":51.452271398869996,"pathAt[...]
