---
http_interactions:
- request:
    method: get
    uri: http://api.tfl.gov.uk/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?alternativeCycle=false&alternativeWalking=true&app_id=a09e631e&app_key=c381b49216f90558cf148c53cd5205b8&applyHtmlMarkup=false&from=tw14%2B9nt&nationalSearch=false&timeIs=Departing&to=tw14%2B8ex&via=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - itineraryresult, disambiguationresult, mode, stoppoint, place, disruption,
        plannedworks, line, linestatus
      X-Ttl-Rule:
      - '0'
      X-Ttl:
      - '300.000'
      X-Backend:
      - api
      X-Backend-Url:
      - "/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?app_key=c381b49216f90558cf148c53cd5205b8&app_id=a09e631e&from=tw14%2B9nt&to=tw14%2B8ex&via=&nationalSearch=false&timeIs=Departing&alternativeCycle=false&alternativeWalking=true&applyHtmlMarkup=false"
      X-Hash-Url:
      - "/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?app_key=c381b49216f90558cf148c53cd5205b8&app_id=a09e631e&from=tw14%2B9nt&to=tw14%2B8ex&via=&nationalSearch=false&timeIs=Departing&alternativeCycle=false&alternativeWalking=true&applyHtmlMarkup=false"
      X-Banning:
      - ''
    body:
      encoding: UTF-8
      string: '{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult,
        Tfl.Api.Presentation.Entities","journeys":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Journey,
        Tfl.Api.Presentation.Entities","startDateTime":"2014-09-03T16:13:00","duration":11,"arrivalDateTime":"2014-09-03T16:24:00","legs":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Leg,
        Tfl.Api.Presentation.Entities","duration":5,"instruction":{"$type":"Tfl.Api.Presentation.Entities.Instruction,
        Tfl.Api.Presentation.Entities","summary":"Walk to Tachbrook Road (TW14)","detailed":"Walk
        to Tachbrook Road (TW14)","steps":[{"$type":"Tfl.Api.Presentation.Entities.InstructionStep,
        Tfl.Api.Presentation.Entities","description":"Continue along Fruen Road for
        143 metres (2 minutes, 8 seconds).","turnDirection":"STRAIGHT","streetName":"Fruen
        Road","distance":143,"cumulativeDistance":143,"skyDirection":27,"cumulativeTravelTime":128,"latitude":-0.41951598516,"longitude":51.451444620640004,"pathAttribute":{"$type":"Tfl.Api.Presentation.Entities.PathAttribute,
        Tfl.Api.Presentation.Entities"}},{"$type":"Tfl.Api.Presentation.Entities.InstructionStep,
        Tfl.Api.Presentation.Entities","description":"Turn right on to Bedfont Lane,
        continue for 172 metres (2 minutes, 33 seconds).","turnDirection":"RIGHT","streetName":"Bedfont
        Lane","distance":172,"cumulativeDistance":315,"skyDirection":129,"cumulativeTravelTime":281,"latitude":-0.4204904277,"longitude":51.450315730389995,"pathAttribute":{"$type":"Tfl.Api.Presentation.Entities.PathAttribute,
        Tfl.Api.Presentation.Entities"}}]},"obstacles":[],"departureTime":"2014-09-03T16:13:00","arrivalTime":"2014-09-03T16:18:00","departurePoint":{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","platformName":"","modes":[],"icsCode":"99999997","commonName":"TW149NT","placeType":"StopPoint","additionalProperties":[],"lat":51.45151025215,"lon":-0.41971520833},"arrivalPoint":{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","platformName":"","modes":[],"icsCode":"1013143","commonName":"Tachbrook
        Road (TW14)","placeType":"StopPoint","additionalProperties":[],"lat":51.45127683589,"lon":-0.42241457688},"path":{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Path,
        Tfl.Api.Presentation.Entities","lineString":"[[51.45151025215, -0.41971520833],[51.45144462064,
        -0.41951598516],[51.45031573039, -0.4204904277],[51.45054644033, -0.42092861212],[51.45077734235,
        -0.42138118615],[51.45094358299, -0.42170646688],[51.45129461858, -0.42239957193],[51.45127683589,
        -0.42241457688]]","stopPoints":[]},"routeOptions":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.RouteOption,
        Tfl.Api.Presentation.Entities","name":"","directions":[""]}],"mode":{"$type":"Tfl.Api.Presentation.Entities.Identifier`1[[Tfl.Api.Presentation.Entities.Mode,
        Tfl.Api.Presentation.Entities]], Tfl.Api.Presentation.Entities","id":"walking","name":"walking"},"disruptions":[],"plannedWorks":[],"distance":315.0,"isDisrupted":false,"hasFixedLocations":true},{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Leg,
        Tfl.Api.Presentation.Entities","duration":3,"instruction":{"$type":"Tfl.Api.Presentation.Entities.Instruction,
        Tfl.Api.Presentation.Entities","summary":"H25 bus to Bedfont Library","detailed":"H25
        bus towards Hatton Cross","steps":[]},"obstacles":[],"departureTime":"2014-09-03T16:18:00","arrivalTime":"2014-09-03T16:21:00","departurePoint":{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"490013143N","platformName":"","modes":[],"icsCode":"1013143","commonName":"Tachbrook
        Road (TW14) - Stop ->N","placeType":"StopPoint","additionalProperties":[],"lat":51.45129461858,"lon":-0.42239957193},"arrivalPoint":{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"490003790E","platformName":"M","modes":[],"icsCode":"1003790","commonName":"Bedfont
        Library","placeType":"StopPoint","additionalProperties":[],"lat":51.45214526251,[...]
- request:
    method: get
    uri: http://api.tfl.gov.uk/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?adjustment=&alternativeCycle=false&alternativeWalking=true&app_id=a09e631e&app_key=c381b49216f90558cf148c53cd5205b8&applyHtmlMarkup=false&cyclePreference=&from=tw14%2B9nt&fromName=&journeyPreference=&maxTransferMinutes=&maxWalkingMinutes=&mode=&nationalSearch=false&timeIs=Departing&to=tw14%2B8ex&toName=&via=&viaName=
    body:
      encoding: US-ASCII
      string: ''
    headers[...]
- request:
    method: get
    uri: http://api.tfl.gov.uk/Journey/JourneyResults/%7Bfrom%7D/to/%7Bto%7D/via/%7Bvia%7D?adjustment=&alternativeCycle=false&alternativeWalking=true&app_id=a09e631e&app_key=c381b49216f90558cf148c53cd5205b8&applyHtmlMarkup=false&cyclePreference=&from=tw14%209nt&fromName=&journeyPreference=&maxTransferMinutes=&maxWalkingMinutes=&mode=&nationalSearch=false&timeIs=Departing&to=tw14%208ex&toName=&via=&viaName=
    body:
      encoding: US-ASCII
      string: ''
    headers[...]
